<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-widt, initial-scale=1.0" />
    <title>SEAT SELECTION</title>
    <h1>SEAT SELECTION</h1>
    <style>
      h1 {
        text-align: center;
        margin: 300px;
      }
      button{
        position: relative;
        margin-left: 700px;
        margin-bottom: -200px;
      }
    </style>
    <body>
      <button>Pay Now</button>
    </body>
  </head>
</html>
